* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(163, 165, 174, 0.25);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  padding-top: 7rem;
  font-size: 16px;
  line-height: 1.2;
  width: 33rem;
}

.header__top {
  font-size: 34px;
  font-weight: 200;
}

.header__bottom {
  font-weight: 200;
  padding-top: 1rem;
}

.main {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 340px;
  grid-auto-rows: 115px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main .section {
  position: relative;
  font-size: 12.5px;
  cursor: pointer;
  background-color: #fafafa;
  margin: 0.5rem;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  padding: 1.5rem;
  -webkit-box-shadow: -3px 13px 26px -14px rgba(0, 0, 0, 0.74);
          box-shadow: -3px 13px 26px -14px rgba(0, 0, 0, 0.74);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main .section:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .section p {
  font-weight: 200;
  color: #a3a5ae;
  padding-top: 0.5rem;
  line-height: 1.5;
}

.main .section__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 70px;
  width: 70px;
  padding: 0 1.2rem 1.2rem 0;
}

.main__section--1 {
  border-top: 0.3rem solid #45d3d3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
}

.main__section--2 {
  border-top: 0.3rem solid #ea5353;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.main__section--3 {
  border-top: 0.3rem solid #fcaf4a;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
}

.main__section--4 {
  border-top: 0.3rem solid #549ef2;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
}

.footer {
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (max-width: 1023px) {
  .header {
    padding: 2rem 0;
    width: 320px;
  }
  .header__top {
    font-size: 26px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section {
    width: 320px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1px;
  }
}
/*# sourceMappingURL=style.css.map */